<div class="multi-from-upload">
  <div ng2FileDrop [ngClass]="{'nv-file-over': hasBaseDropZoneOver}"
       (fileOver)="fileOverBase($event)"
       [uploader]="uploader" class="drop-zone"
       (onFileDrop)="onFileSelect($event)"
        *ngIf="!url">

    <div class="file-input-container">
      <label>
        <input type="file" ng2FileSelect
               [uploader]="uploader"
               (onFileSelected)="onFileSelect($event)"
               (change)="createPreview($event)"
               accept="image/*"
               required  />
        Cliquer pour ajouter un fichier
      </label>
    </div>
  </div>

  <div  [hidden]="uploader?.queue?.length == 0" style="width: 100%; height: 100% ">
    <span style="position: absolute; top: 5px; right: 5px; cursor: pointer; font-size: 25px;" (click)="resetWidget()"><fa name="times-circle"></fa></span>
    <img [src]="url" alt="" style="display: block; margin: auto">
  </div>

</div>
