<div class="multi-from-upload">
  <div ng2FileDrop [ngClass]="{'nv-file-over': hasBaseDropZoneOver}"
       (fileOver)="fileOverBase($event)"
       [uploader]="uploader" class="drop-zone"
       (onFileDrop)="onFileSelect($event)"
        *ngIf="!imageSrc">

    <div class="file-input-container">
      <label>
        <input type="file" ng2FileSelect
               [uploader]="uploader"
               (onFileSelected)="onFileSelect($event)"
               (change)="createPreview($event)"
               accept="image/*"
               required  />
        Cliquer pour ajouter un fichier
      </label>
    </div>
  </div>

  <div  [hidden]="imageSrc === undefined" style="width: 100%; height: 100% ">
    <img [src]="imageSrc" alt="" style="display: block; margin: auto; max-width: 100%;">
    <p (click)="resetWidget()" style="position: absolute; left: 0; bottom: 0; right: 0; background: rgba(255,255,255,.8); margin: 0; text-align: center; cursor: pointer">Changer d'image</p>
  </div>

</div>
