
<div class="card mb-3 marg-top-card" style="max-width: 540px;">
  <div class="no-gutters">
    <div class="row ">
    <div class="col-md-6">
      <div class="card-body pad-border">
        <h5 class="card-title">{{fiche?.Title}}</h5>
        <div class="row">
          <p class="col-lg-6 card-text">{{fiche?.City_Name}}</p>
          <p class="col-lg-6 card-text">{{fiche?.Country_Name}}</p>
        </div>
        <p class="card-text">Nombre d'occupant: {{fiche?.Nb_guest}}</p>
      </div>
    </div>
      <div class="col-md-6 pad-border">
        <img src="{{fiche?.Picture}}" class="card-img">
      </div>

    </div>
        <p class="card-text pad-border">Description:</p>
        <div class="card pad-border marg-car">
          <p class="card-text descri" *ngIf="fiche?.Long_description">{{fiche?.Long_description}}</p>
          <p class="card-text descri" *ngIf="!fiche?.Long_description">{{fiche?.Short_description}}</p>
        </div>

        <div class="pad-border">
          <app-options-displayer [house]="fiche"></app-options-displayer>
        </div>
      </div>
</div>
