.container{
  margin-top: 10px;
  margin-bottom: 20px;
}

.border-formulaire{
  border-style: solid;
  border-color: lightseagreen;
  border-width: 1px;
  padding: 15px;
  margin-top: 20px;
}

.alert-danger{
  margin-top: 6px !important;
  padding: 5px !important;
  font-size: 12px;
}

.btn-style{
  height: 40px !important;
  width: 150px !important;
  color: white !important;

  padding: 2px !important;
}

.pad-btn{
  padding: 0px !important;
}
