<div class="container">
  <h3>Connectez-vous</h3>
  <form class="border-formulaire">

    <div class="form-group">
      <label for="inputEmail">Email*</label>
      <input type="email" class="form-control" id="inputEmail" >
    </div>

    <div class="form-group">
      <label for="inputPassword">Mot de passe*</label>
      <input type="password" class="form-control" id="inputPassword" >
    </div>
    <p>*Champs requis</p>
    <br>
    <div class="form-group d-flex align-items-center justify-content-center marg-btn">
      <button type="submit" class="btn btn-info">S'inscrire</button>
    </div>
  </form>
</div>

