<div class="container">
  <h3>Connectez-vous</h3>
  <form class="border-formulaire" (ngSubmit)="onsubmit()">

    <div class="form-group">
      <label for="inputEmail">Email*</label>
      <input type="email" class="form-control" id="inputEmail" name="inputEmail" [(ngModel)]="login">
    </div>

    <div class="form-group">
      <label for="inputPassword">Mot de passe*</label>
      <input type="password" class="form-control" id="inputPassword"  name="inputPassword" [(ngModel)]="pswd">
    </div>
    <p>*Champs requis</p>
    <br>
    <div class="form-group d-flex align-items-center justify-content-center marg-btn">
      <button type="submit" class="btn btn-info">Connexion</button>
    </div>
  </form>
</div>

