<nav class="navbar navbar-expand-lg navbar-dark">
  <a class="navbar-brand" href="#" routerLink="/home" routerLinkActive="active">Home</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" href="#" routerLink="/member/register" routerLinkActive="active" *ngIf="!auth.isLogged">Enregistrez-vous</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#" routerLink="/member/connexion" routerLinkActive="active" *ngIf="!auth.isLogged">Connexion</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#" routerLink="/member/zone" routerLinkActive="active" *ngIf="auth.isLogged">Zone membre</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#" routerLink="/house/add-house" routerLinkActive="active" *ngIf="auth.isLogged">Ajouter un bien</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#"  routerLink="/home" *ngIf="auth.isLogged" (click)="doLogout()">Se déconnecter</a>
      </li>

    </ul>
  </div>
</nav>

<router-outlet></router-outlet>
