
<div class="form-group">
  <label>Pays*</label>
  <ng-select required #Pays="ngModel"  [items]="countries$ | async"
             bindLabel="Name"
             autofocus
             bindValue="Id"
             (change)="onCountryChanged($event)"
             [(ngModel)]="localAddress.Country_id">
  </ng-select>
  <div *ngIf="Pays.invalid && (Pays.dirty)" class="alert alert-danger">
    <div *ngIf="Pays.errors.required">Le pays est requis</div>
  </div>
</div>

<div class="form-row">
  <div class="form-group col-md-8">
    <label for="street">Rue*</label>
    <input class="form-control" type="text" required #Rue="ngModel"  name="street" id="street" [(ngModel)]="localAddress.Street" (change)="dataChanged()">
    <div *ngIf="Rue.invalid && (Rue.dirty || Rue.touched)" class="alert alert-danger">
      <div *ngIf="Rue.errors.required">La rue est requis</div>
    </div>
  </div>


  <div class="form-group col-md-2">
    <label for="num">Numéro*</label>
    <input class="form-control" type="text" required #Numero="ngModel"  name="num" id="num" [(ngModel)]="localAddress.Num" (change)="dataChanged()">
    <div *ngIf="Numero.invalid && (Numero.dirty || Numero.touched)" class="alert alert-danger">
      <div *ngIf="Numero.errors.required">Le numéro est requis</div>
    </div>
  </div>


  <div class="form-group col-md-2">
    <label for="box">Boîte</label>
    <input class="form-control" type="text" name="box" id="box" [(ngModel)]="localAddress.Box" (change)="dataChanged()">
  </div>
</div>
<div class="form-row">
  <div class="form-group col-md-6">
    <label>Code Postal*</label>
    <ng-select required #Zip="ngModel" [items]="cities$ | async"
               bindLabel="Zip"
               autofocus
               bindValue="Id"
               (change)="onZipChanged($event)"
               [(ngModel)]="localAddress.City_id">
    </ng-select>
    <div *ngIf="Zip.invalid && (Zip.dirty)" class="alert alert-danger">
      <div *ngIf="Zip.errors.required">Le code postal est requis</div>
    </div>
  </div>


  <div class="form-group col-md-6">
    <label>Ville*</label>
    <ng-select required #Ville="ngModel" [items]="cities$ | async"
               bindLabel="Name"
               autofocus
               bindValue="Id"
               (change)="OnCityChanged($event)"
               [(ngModel)]="localAddress.City_id">
    </ng-select>
    <div *ngIf="Ville.invalid && (Ville.dirty)" class="alert alert-danger">
      <div *ngIf="Ville.errors.required">La ville est requise</div>
    </div>
  </div>

</div>




