.border-zone{
  border-style: solid;
  border-color: lightseagreen;
  border-width: 1px;
  padding: 15px;
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
}

.card-img-top{
  margin-top: 20px;
}
