<div class="container">
  <h3>Votre espace membre</h3>
  <div class="form-row d-flex align-items-center">
    <div class="col-md-3">
      <app-card-membre [membre]="auth.localUser"></app-card-membre>
      <a routerLink="/member/edit-profile" class="btn btn-info btn-block marg-top-btn ">Modifier</a>
    </div>
    <div class="col-md-9">
      <button routerLink="/member/listHouse" type="button" class="btn btn-info btn-lg btn-block">Mes biens</button>
        <br>
      <button type="button" class="btn btn-info btn-lg btn-block" routerLink="/house/add-house">Ajouter un bien</button>
        <br>
      <button type="button" class="btn btn-info btn-lg btn-block" routerLink="/house/echange-house">Les demandes d'échange</button>
        <br>
    </div>
  </div>
  <br>

</div>


