<form #f = "ngForm" class="border-formulaire" (ngSubmit)="onFormSubmit()">

  <app-multi-file-upload (fileChanged)="OnFileSelected($event)"></app-multi-file-upload>


  <div class="form-row">
    <div class="form-group col-md-9">
      <label for="inputTitle">Title*</label>
      <input type="text" class="form-control" id="inputTitle" name="inputTitle" [(ngModel)]="localHouse.Title" required minlength="5" #Title="ngModel" >
      <div *ngIf="Title.invalid && (Title.dirty || Title.touched)" class="alert alert-danger">
        <div *ngIf="Title.errors.required">Le titre est requis</div>
        <div *ngIf="Title.errors.minlength">Le titre doit être compose de 5 lettres minimum</div>
      </div>
    </div>
    <div class="form-group col-md-3">
      <label for="inputTitle">Type de bien*</label>
      <app-house-type-selector (change)="houseTypeChanged($event)" style="width: 100%" ></app-house-type-selector>
    </div>
  </div>

  <div class="form-row">
    <div class="form-group col-md-12">
      <label for="inputShort_description">Description résumée*</label>
      <input type="textArea" class="form-control" id="inputShort_description" name="inputShort_description" [(ngModel)]="localHouse.Short_description" required minlength="16" #ShoDes="ngModel" >
      <div *ngIf="ShoDes.invalid && (ShoDes.dirty || ShoDes.touched)" class="alert alert-danger">
        <div *ngIf="ShoDes.errors.required">La description courte est requise</div>
        <div *ngIf="ShoDes.errors.minlength">La description courte doit faire 16 characteres minimum</div>
      </div>
    </div>
  </div>

  <div class="form-row">
    <div class="form-group col-md-12">
      <label for="inputLong_description">Description longue</label>
      <input type="textArea" class="form-control" id="inputLong_description" name="inputLong_description" [(ngModel)]="localHouse.Long_description">
    </div>
  </div>

  <div class="form-row">
    <div class="form-group col-md-3">
      <label for="inputLong_description">Capacité*</label>
      <input type="textArea" class="form-control" id="inputNb_guest" name="inputNb_guest" [(ngModel)]="localHouse.Nb_guest" required #NbGue="ngModel" >
      <mv-slider [(value)]="localHouse.Nb_guest" [min]="1" [max]="10"></mv-slider>
      <div *ngIf="NbGue.invalid && (NbGue.dirty || NbGue.touched)" class="alert alert-danger">
        <div *ngIf="NbGue.errors.required">La capacité est requise</div>
      </div>
    </div>
    <div class="form-group col-md-3">
        <label for="inputLong_description">Assurance obligatoire ?</label>
      <input type="checkbox" style="width: 20px" class="form-control" id="inputInsurance_mandatory" name="inputInsurance_mandatory" [(ngModel)]="localHouse.Insurance_mandatory">
    </div>
  </div>

  <app-options-selector (change)="optionsChanged($event)"></app-options-selector>

  <app-form-address (change)="onAddressChanged($event)"></app-form-address>

  <app-availibilities-manager [editable]="editMode" (change)="onAvailabilityChanged($event)"></app-availibilities-manager>

  <p>*Champs requis</p>
  <p>Conditions TODO!!!!!!!!!!!!!!!!!!!</p>
  <div class="form-row d-flex justify-content-center">
    <div class="form-group col-md-5 d-flex align-items-center justify-content-center marg-btn">
      <button type="submit" class="btn btn-info">Ajouter le bien</button>
    </div>
  </div>
</form>
