<p>edit-house works!</p>

<form (ngSubmit)="onFromSubmit()">
  <app-multi-file-upload (fileChanged)="OnFileSelected($event)"></app-multi-file-upload>
  <input type="submit" value="Envoyer">
</form>


<app-meteo cityName="Charleroi"></app-meteo>

<hr>
<Button class="btn btn-info" (click)="LoginWithGoogle()">Login With Google</Button>
<Button class="btn btn-danger" (click)="doLogout()">Logout</Button>
<hr>
<app-options-selector (change)="optionsChanged($event)"></app-options-selector>
<app-house-type-selector (change)="houseTypeChanged($event)"></app-house-type-selector>
<app-country-selector (change)="onCountryChange($event)"></app-country-selector>
<app-options-displayer [options]="options"></app-options-displayer>




<app-availibilities-manager [editable]="true" [houseId]="1"></app-availibilities-manager>

